*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url(dua.jpeg);
    background-size: cover;
}
a{
    text-decoration: dotted;
    font-size: 80px;
    font-weight: 900;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(173, 211, 245) (to right, )

    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
button{
    margin-top: 10vh;
    padding: 10px 60px;
    background-color: rgb(255, 200, 200);
    border: none;
    border-radius: 65px;
}
button:hover{
    background-color: rgb(255, 255, 188);
    cursor: pointer;            
}
a:hover{
    background:(to right #fdf2f2); 

}